# Environments
venv/
.env

# Python Caching
__pycache__/
*.pyc
.pytest_cache/

# IDE and Editor settings
.idea/
.vscode/

# Data and Artifacts
data/
models/

# MLflow Tracking
mlruns/
mlflow_artifacts/
mlflow.db

# Dependency Managers
uv.lock
